
ipdb==0.13.9
ipykernel==6.15.2
ipython==8.4.0
jedi==0.18.1
jupyter-client==7.3.4
jupyter-core==4.11.1
kaldi-io==0.9.8
librosa==0.10.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==12.535.133
nvidia-ml-py3==7.352.0
opencv-python==4.6.0.66
packaging==23.0
pandas==1.5.3
pip==23.0.1
s3prl==0.3.1
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
timm==0.9.12
torch==1.13.1
torch-optimizer==0.3.0
torch-stoi==0.1.2
torchaudio==0.12.1
torchlibrosa==0.1.0
torchmetrics==1.0.2
torchprofile==0.0.4
torchvision==0.13.1
tqdm==4.64.0
wandb==0.13.5
wget==3.2
